<!--Esta é a página que será carregada ao clicar no botão de estabelecimentos-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estabelecimentos</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuEstabelecimentos}}
    </aside>
    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <button class="doboutButton"><img src="" alt=""></button>
            </div>
        </headerr>
        <section class="ConteinerInfo">
            <section class="viewPanel"></section>
            <nav class="barRightEstabelecimentos"></nav>
        </section>
    </main>
</body>
</html>