<nav class="ContainerButtons">
    <a href="/estabelecimentos" class="boxButtons buttonMenuLeft">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-local-72 (1).png" alt="estabelecimento" class="iconsMenuLeft"></div><!--icon here-->
        Estabelecimentos
    </a>
    <a href="profissionais" class=" boxButtons buttonMenuLeft selectedMenuLeft">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="Profissionais"></div><!--icon here-->
        Profissionais
    </a>
    <a href="agendamentos" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-mais-calendário-100 (1).png" alt="Agendamentos"></div><!--icon here-->
        Agendamentos
    </a>
    <div class="boxButtonsLine" style="height: 40px;">
        <span class="lineMenuLeft"></span>
    </div>
    <a href="historico" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-histórico-de-atividades-100.png" alt="Histórico"></div><!--icon here-->
        Histórico
    </a>
    <a href="servicos" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-serviços-60.png" alt="Serviços"></div><!--icon here-->
        Serviços
    </a>
    <a href="feedbacks" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-comentar-debate-100-_1_.webp" alt="Feedbacks"></div><!--icon here-->
        Feedbacks
    </a>
    <div class="boxButtonsLine" style="height: 40px;">
        <span class="lineMenuLeft"></span>
    </div>
    <a href="configurar" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-configurações-100.webp" alt="Configurações"></div><!--icon here-->
        Configurações
    </a>
    <div class="boxButtons" id="LogOut">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-sair-100.png" alt="Deslogar"></div>
        <a href="" id="LogOut">LogOut</a>
    </div>
</nav>