<nav class="ContainerButtons">
    <a href="/estabelecimentos" class="boxButtons buttonMenuLeft selectedMenuLeft">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-análise-30.png" alt="estabelecimento" class="iconsMenuLeft"></div><!--icon here-->
        <p>Dashboard</p>
    </a>
    <a href="/profissionais" class=" boxButtons buttonMenuLeft">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-cabeleireiro-50 (1).png" alt="Profissionais"></div><!--icon here-->
        <p>Profissionais</p>
    </a>
    <a href="/agendamentos" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-hora-extra-48 (1).png" alt="Agendamentos"></div><!--icon here-->
        <p>Agendamentos</p>
    </a>
    <div class="boxButtonsLine" style="height: 40px;">
        <span class="lineMenuLeft"></span>
    </div>
    <a href="/clientes" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-clientes-30 (1).png" alt="Feedbacks"></div><!--icon here-->
        <p>Clientes</p>
    </a>
    <a href="/servicos" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-barbearia-50 (1).png" alt="Serviços"></div><!--icon here-->
        <p>Serviços</p>
    </a>
   
    <div class="boxButtonsLine" style="height: 40px;">
        <span class="lineMenuLeft"></span>
    </div>
    <a href="/whatsapp" class="boxButtons buttonMenuLeft" style="">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-whatsapp-48 (1).png" alt="Feedbacks"></div><!--icon here-->
        <p>Whatsapp</p>
    </a>
    <a class="boxButtons" id="LogOut">
        <div class="ContainerIconMenuLeft"><img src="/images/icons8-sair-100.png" alt="Deslogar"></div>
        <p>LogOut</p>
    </a>
</nav>