<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">
    <title>Autenticação</title>
</head>
<body>
    <section class="welcomeContainerAuth">
        <div class="msgEntrar">
            <h1>Bem vindo de volta!</h1>
            <p>Bem-vindo de volta! Que bom ter você novamente. Vamos continuar de onde paramos?</p>
            <button type="button">Entrar</button>
        </div>
        <div class="msgCadastre">
            <h1>Olá!</h1>
            <p>Insira suas informações e embarque em uma nova jornada conosco!</p>
            <button type="button">Cadastre-se</button>
        </div>
    </section>
    <section class="containerForms">
        <section class="fomrLogin">
            <h2>Entrar</h2>
            <form action="post" >
                <div>
                    <a href=""><img src="/images/icons8-f-do-facebook-50.png" alt="Login com Facebook"></a>
                    <a href=""><img src="/images/icons8-google-plus-50.png" alt="Login com Google"></a>
                    <a href=""><img src="/images/icons8-linkedin-64.png" alt="Login com Linkedin"></a>
                </div>
                ou use sua conta de email
                <div>
                    <div>
                        <input type="email">
                    </div>
                    <div>
                        <input type="password">
                    </div>
                    <a href="">esqueceu sua senha?</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
        </section>

        <section class="formCad">
            <h2>Faça parte</h2>
            <form action="post" >
                <div>
                    <a href=""><img src="/images/icons8-f-do-facebook-50.png" alt="Login com Facebook"></a>
                    <a href=""><img src="/images/icons8-google-plus-50.png" alt="Login com Google"></a>
                    <a href=""><img src="/images/icons8-linkedin-64.png" alt="Login com Linkedin"></a>
                </div>
                ou use sua conta de email
                <div>
                    <div>
                        <input type="email">
                    </div>
                    <div>
                        <input type="password">
                    </div>
                    <a href="">esqueceu sua senha?</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
        </section>
    </section>
</body>
</html>