<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/addEstabelecimento.css">
    <title>Profissionais</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuProfissionais}}
    </aside>
    <main class="panel">
            <header class="HeaderPanel">
                <div>
                    <a class="doboutButton"><img src="/images/icons8-dúvida-100.png" alt="manual da aplicação"></a>
                </div>
                <div class="infoUsuario">
                    <span></span>
                    <span class="userPicture"><!--<img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="imagem do usuário">--></span>
                </div>
            </header>
            <section class="ConteinerInfo">
            <section class="PanelAddEstabelecimento">
                <form action="/addprofissionais" method="post" id="formulario">
                    <section>
                        <h2 class="titleForm">Novo Profissional</h2>
                        <input type="text" name="name" id="" placeholder="Nome">
                        <input type="tel" pattern="[0-9]+" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" name="phone" id="" placeholder="Contato">
                    </section>
                    <section class="SelectProfissionais">
                        <div id="AbaSelectProfissionais">Serviços</div>
                        <section class="ContainerProfissionaisNames">
                            <label class="LabelCheckBoxAddProfissional">
                                <input type="checkbox" name="services" value="services 1">
                                Serviço 1
                            </label>
                            <label class="LabelCheckBoxAddProfissional">
                                <input type="checkbox" name="services" value="services 2">
                                Serviço 2
                            </label>
                            <label class="LabelCheckBoxAddProfissional">
                                <input type="checkbox" name="services"  value="services 3">
                                Serviço 3
                            </label>
                            <label class="LabelCheckBoxAddProfissional">
                                <input type="checkbox" name="services" value="services 4">
                                Serviço 4
                            </label>
                        </section>
                    </section>
                </form>
            </section>
            <nav class="barRightAddEstabelecimentos">
                <a href="/estabelecimentos" id="buttonReturnEstabelecimentos"><img src="/images/icons8-retornar-64.png" alt="adicionar estabelecimento"></a>
                <button  type="submit" form="formulario"><img src="/images/icons8-salvar-100.png" alt="salvar novo estabelecimento"></button>
            </nav>
        </section>
    </main>
    <script>
        //checkboxes
        const labels = document.querySelectorAll('.LabelCheckBoxAddProfissional');
        labels.forEach(label => {
            label.addEventListener('click', function() {
                const checkbox = this.querySelector('input[type="checkbox"]');
                checkbox.checked = !checkbox.checked;
                this.classList.toggle('active', checkbox.checked);
            });
        });
    </script>
</body>
</html>