<!--Esta é a página que será carregada ao clicar no botão de profissionais-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissionais</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuProfissionais}}
    </aside>
    <main class="panel">
            <header class="HeaderPanel">
                <div>
                    <a class="doboutButton"><img src="/images/icons8-dúvida-100.png" alt="manual da aplicação"></a>
                </div>
                <div class="infoUsuario">
                    <span></span>
                    <span class="userPicture"><!--<img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="imagem do usuário">--></span>
                </div>
            </header>
            <section class="ConteinerInfoProfissionais">
                {{#each estab}}
                    <section class="viewPanelProfissionais">
                        {{#each profissionais}}
                            <a href="" class="containerProfissional">
                                <div>
                                    <div class="imgProfissional"></div>
                                    <span>{{this}}</span>
                                </div>
                                <a href=""></a>
                            </a>
                        {{else}}
                            sem profissionais cadastrados
                        {{/each}}
                    </section>
                {{else}}
                    erro ao conectar-se com o servidor
                {{/each}}
                <nav class="barBottomProfissionais">
                    <a href="/addprofissionais">Adicionar Profissional</a>
                </nav>
            </section>
    </main>
</body>
</html>