<!--Esta é a página que será carregada ao clicar no botão de serviços-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
</head>
<body>
    <aside class="ContainerMenuLeft">
        <div class="ContainerLogoPanel">
            LOGO AQUI
        </div>
        {{>menuServicos}}
    </aside>
    <main class="panel">
        <header class="HeaderPanel">
            <div>
                <a class="doboutButton"><img src="/images/icons8-dúvida-100.png" alt="manual da aplicação"></a>
            </div>
            <div class="infoUsuario">
                <span>nome de usuário</span>
                <span class="userPicture"><!--<img src="/images/icons8-adicionar-usuário-masculino-90.webp" alt="imagem do usuário">--></span>
            </div>
        </header>
        <nav class="navPanelService">
            <button class="buttonNavHeader"><img src="/images/icons8-adicionar-100.webp" alt="adicionar serviço"></button>
        </nav>
        <section class="ConteinerInfo">
            <section class="viewPanel">

            </section>
        </section>
    </main>

    <section class="">

    </section>
</body>
</html>