/*Esse código é apenas para o painel e formulário de adionar/editar usuários*/
:root{
    --var-DarkGreen: #00272B;
    --var-ColorGreen: #E0FF4F;
    --var-BorderColorDark: rgb(182, 182, 182);
    --var-ColorBaseGray: #D9D9D9;
    --var-ColorRedCancel: #ED5E68;
}


/*formulário de adição*/
.ConteinerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 51px);
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
}
.PanelAddEstabelecimento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    padding-top: 40px;
    padding-bottom: 40px;
}
.PanelAddEstabelecimento form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding-left: 20px;
    padding-right: 0px;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 70px;
}
.PanelAddEstabelecimento form section:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: calc(100% - 20px);
}
.PanelAddEstabelecimento form section:nth-child(1) input{
    border: none;
    width: calc(100% - 22px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline-color: #209F84;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.SelectProfissionais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    width: calc(100% - 22px);
    border-radius: 10px;
}
#AbaSelectProfissionais {
    height: 40px;
    width: 100%;
    background-color: #209F84;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ContainerProfissionaisNames{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: calc(100% - 20px);
    padding: 10px;
    overflow-y: scroll;
    min-height: 40px;
    max-height: 200px;
    gap: 5px;
}
.ContainerProfissionaisNames button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid var(--var-DarkGreen);
    cursor: pointer;
}
.ContainerProfissionaisNames button:hover{
    background-color: rgb(241, 241, 241);
}
.ContainerProfissionaisNames button img{
    height: 20px;
}

.LabelCheckBoxAddProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 20px;
    width: calc(100% - 32px);
    border: 1px solid var(--var-DarkGreen);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.1s ease;
}

.LabelCheckBoxAddProfissional input[type="checkbox"] {
    display: none;
}
.LabelCheckBoxAddProfissional:hover {
    background-color: #f0f0f0;
    color: black;
}

.LabelCheckBoxAddProfissional.active {
    background-color: #59B989;
    color: white;
}


.rangeHours{
    width: calc(100% - 22px);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.titleForm{
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/* Estilo do input range */
input[type="range"] {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #209F84 0%, #ccc 0%);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
  }
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #209F84;
    border: none;
  }
input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #209F84;
    border: none;
  }



#horarioValue {
    font-weight: bold;
    margin-left: 0px; /* Espaçamento à esquerda */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horarioDeFuncionamento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 50px;
}
.horarioDeFuncionamento div{
    width: max-content;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: var(--var-DarkGreen);
}
.horarioDeFuncionamento span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.horarioDeFuncionamento span input{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12pt;
    color: var(--var-DarkGreen);
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.034);
    outline: none;
}



.barRightAddEstabelecimentos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 22px);
    height: calc(100% - 20px);
    margin-top: 50px;
    
}
#buttonReturnEstabelecimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    background-color: #808080;
    text-decoration: none;
    border-radius: 5px;
}
.barRightAddEstabelecimentos button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    background-color: #209F84;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}