*{
    margin: 0px;
    padding: 0px;
}

:root{
    --var-DarkGreen: #00272B;
    --var-ColorGreen: #E0FF4F;
    --var-BorderColorDark: rgb(182, 182, 182);
    --var-ColorBaseGray: #D9D9D9;
    --var-ColorGreenOliva: #25291C;
}


.viewPanel header{
    width: 50%;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.086);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bttAddService{
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bttAddService img{
    height: 100%;
    width: auto;
}