@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --var-BaseGreen: #209F84;
    --var-BaseClearGreen: #59B989;
    --var-BaseBody: #ebf3ea;
    --var-SelectedMenu: #E1F297;
    --var-TextDark: #3D5553;

    --var-FontStyled: "Karla", sans-serif;
    --var-FontMain: "Open Sans", sans-serif;

    --var-DarkGreen: #00272B;
    --var-ColorGreen: #E0FF4F;
    --var-BorderColorDark: rgb(182, 182, 182);
    --var-ColorBaseGray: #D9D9D9;
    --var-ColorGreenOliva: #25291C;
    --var-WhatsappDark: #1F5055;
    --var-ColorGreenWhatsapp: #25D366;
    --var-ColorRedCancel: #ED5E68;
    --var-BoxShadowContainer: 0px 0px 4px 1px rgba(0, 0, 0, 0.192);
}

/*página 1 de estabelecimentos*/
.ConteinerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 51px);
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
}
.viewPanel{
    margin: auto;
    padding-top: 20px;
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: scroll;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.buttonLink{
    height: 50px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    background-color: var(--var-WhatsappDark);
    border-radius: 10px;
}

.buttonLink a{
    height: 50px;
    width: auto;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    gap: 5px
}

.buttonLink a img{
    height: 20px;
}
.buttonLink a p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    color: white;
    transform: translateY(-2px);
}

.containerRelatorio{
    width: calc(100% - 30px);
    border-radius: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    background-color: var(--var-BaseGreen);
}
.descEstabelecimento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
    padding: 20px;
    width: 80%;
}
.descEstabelecimento h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 500;
    color: white;
}
.weatherInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    gap: 15px;
    margin-top: 20px;
}
.containerImgClima{
    height: 40px;
}
.containerImgClima img{
    height: 100%;
}
.containerTemp{
    font-family: var(--var-FontMain);
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.containerClimaStatus{
    font-family: var(--var-FontStyled);
    font-size: 12pt;
    color: white;
    font-weight: 500;
}


.infoEstabelecimento{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}
.infoEstabelecimento span{
    font-family: var(--var-FontMain);
    font-size: 11pt;
    font-weight: 400;
    color: white;
}

.buttonConfig{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.buttonConfig img{
    height: 25px;
    width: 25px;
}


.containerDataEstab{
    width: calc(100% - 30px);
    height: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sectionGraphic{
    height: 300px;
    width: calc(60% - 65px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
}
.sectionGraphic header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-BaseGreen);
}


.ContainerClassificacao{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: 360px;
    padding: 0px;
    width: calc(40% - 5px);
    border-radius: 10px;
}
.ContainerDataMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 30px 30px;
    width: calc(100% - 30px);
    border-radius: 10px;
    position: relative;
}
.ContainerDataMain:nth-child(1){
    background-color: var(--var-SelectedMenu);
}
.ContainerDataMain:nth-child(1) h2{
    font-family: var(--var-FontMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-TextDark);
}
.containerResultsDataMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    gap: 10px;
    height: calc(100% - 20px);
}
.containerResultsDataMain div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.180);
    height: 100%;
    padding: 0px 15px 0px 15px;
}
.containerResultsDataMain div span:nth-child(1){
    font-family: var(--var-FontStyled);
    font-size: 20px;
    font-weight: 500;
    color: var(--var-TextDark);
}
.iconResult{
    height: 30px;
}
.iconResult img{
    height: 100%;
    width: auto;
}
.numberClientes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.180);
    height: 100%;
    padding: 0px 15px 0px 15px;
    width: 50px;

    font-family: var(--var-FontStyled);
    font-size: 20px;
    font-weight: 500;
    color: var(--var-TextDark);
}

.ContainerDataMain:nth-child(2){
    background-color: var(--var-BaseClearGreen);
}
.ContainerDataMain:nth-child(2) h2{
    font-family: var(--var-FontMain);
    font-size: 12pt;
    font-weight: 500;
    color: white;
}
.ContainerDataMain:nth-child(3){
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding-bottom: 0px;
    background-color: white;
    height: 100%;
}
.ContainerDataMain:nth-child(3) h2{
    font-family: var(--var-FontMain);
    font-size: 12pt;
    font-weight: 500;
    color: var(--var-BaseGreen);
}
.containerBestServices{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: center;
    width: calc(100% - 30px);
}
.containerBestServices span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 5px;
}
.containerBestServices span p:nth-child(1){
    font-family: var(--var-FontMain);
    font-size: 11pt;
    font-weight: 500;
    color: var(--var-TextDark);
}
.containerBestServices span p:nth-child(2){
    font-family: var(--var-FontMain);
    font-size: 12pt;
    font-weight: 600;
    color: var(--var-TextDark);
}
.containerBestServices span:hover{
    background-color: rgb(235, 235, 235);
    cursor: default;
    transition: 0.5s;
}

/*add estabelecimento-------------------------------------------------------------------------------------*/

.BoxProf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: calc(100% - 30px);
    height: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.071);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.BoxProf a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    color: rgb(116, 116, 116);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    transition: 0.2s;
}
.BoxProf a div{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: black;
}
.BoxProfLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    height: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.071);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.containerTopProfLinkAdd a{
    color: black;
    text-decoration: none;
}

.barRightEstabelecimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    width: 60px;
    height: calc(100% - 20px);
    padding-top: 20px;
    border-radius: 0px;
    background-color: var(--var-ColorBaseGray);
    margin-bottom: 200px;
}
#buttonAddEstabelecimentos img{
    height: 40px;
}




/*Estabelecimentos main responsividade----------------------------------------------------------------------------------*/
@media (max-width: 900px) {
    .containerDataEstab{
        margin-bottom: none;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
    .sectionGraphic{
        height: 350px;
        width: calc(100% - 60px);
        flex-direction: column;
    }
    .ContainerClassificacao{
        width: calc(100% - 60px);
    }
}