@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --var-BaseGreen: #209F84;
    --var-BaseBody: #ebf3ea;
    --var-SelectedMenu: #E1F297;

    --var-FontStyled: "Karla", sans-serif;
    --var-FontMain: "Open Sans", sans-serif;


    --var-ColorGreen: #E0FF4F;
    --var-BorderColorDark: rgb(182, 182, 182);
    --var-ColorBaseGray: #D9D9D9;
    --var-ColorGreenOliva: #25291C;
    --var-ColorGradient1: #025F4C;
    --var-ColorGradient2: #008E98;
    --var-ColorGradient3: #04C59E;
    --var-WhatsappDark: #1F5055;
    --var-ColorGreenWhatsapp: #25D366;
    --var-ColorRedCancel: #ED5E68;
    --var-BoxShadowContainer: 0px 0px 4px 1px rgba(0, 0, 0, 0.192);
}
body{
    background-color: var(--var-BaseBody);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.block-selectionHTML{
    user-select: none; /* Impede seleção de texto */
    -webkit-user-select: none; /* Compatibilidade com navegadores WebKit */
    -moz-user-select: none; /* Compatibilidade com Firefox */
    -ms-user-select: none; /* Compatibilidade com IE/Edge */
    cursor: default; /* Indica que o texto não é selecionável */
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: calc(100% - 200px);
    height: 100vh;
    position: absolute;
    right: 0vh;
}
.HeaderPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 60px);
    height: 50px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
}
.doboutButton{
    background-color: var(--var-BaseGreen);
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}
.doboutButton p{
    transform: translateY(-2px);
}
.doboutButton img{
    width: 20px;
    height: 20px;
}

.infoUsuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}
.picture_adm{
    height: 30px;
    width: 30px;
}
.picture_adm img{
    height: 30px;
    width: 30px;
}
.ReturnButton{
    padding: 0px;
    height: 25px;
    width: 25px;
    border: none;
    background-color: var(--var-ColorGradient1);
    border-radius: 5px;
    cursor: pointer;
}
.ReturnButton img{
    height: 100%;
    width: auto;
    align-self: center;
    justify-self: center;
}
.linkCompletePerfil{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    background-color: var(--var-WhatsappDark);
}
.container_msgAviso{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
.popAviso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -370px;
    background-color: white;
    height: 300px;
    max-width: 400px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.072);
    animation-name: descendPop;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes descendPop {
    0%{
        top: -370px;
    }
    100%{
        top: 100px;
    }
}
@keyframes onda {
    0% {
      box-shadow: 0 0 10px rgba(104, 229, 155, 0.2);
    }
    25% {
      box-shadow: 0 0 15px rgba(104, 229, 155, 0.3), 
                  0 0 30px rgba(104, 229, 155, 0.2);
    }
    50% {
      box-shadow: 0 0 25px rgba(104, 229, 155, 0.4), 
                  0 0 50px rgba(104, 229, 155, 0.3), 
                  0 0 75px rgba(104, 229, 155, 0.1);
    }
    75% {
      box-shadow: 0 0 35px rgba(104, 229, 155, 0.5), 
                  0 0 60px rgba(104, 229, 155, 0.4), 
                  0 0 100px rgba(104, 229, 155, 0.2);
    }
    100% {
      box-shadow: 0 0 45px rgba(104, 229, 155, 0.6), 
                  0 0 80px rgba(104, 229, 155, 0.5), 
                  0 0 120px rgba(104, 229, 155, 0.3);
    }
}
.popAviso span{
    position: absolute;
    top: -40px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #68e59b;
    border-radius: 100%;
    animation: onda 2s infinite ease-out alternate; /* Animação de ondas */
}
.popAviso div{
    position: absolute;
    bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
    background-color: #68e59b;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.popAviso div button{
    background: none;
    border: none;
    cursor: pointer;
}
.popAviso div button img{
    height: 20px;
    width: auto;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.219))
}

.popAviso span:nth-child(1) img{
    height: 50px;
    width: auto;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.098));
}
.popAviso h1{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 12pt;
}
.popAviso p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    text-align: center;
    margin-top: 30px;
    width: 300px;
    max-width: 80%;
}



/*Partial MenuLeft*/
.line{
    height: 80%;
    width: 1px;
    background-color: var(--var-ColorGreenOliva);
    display: block;
}
.ContainerMenuLeft{
    width: 200px;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--var-BaseGreen);
}
.ContainerLogoPanel{
    height: 30px;
    position: absolute;
    top: 35px;
}
.ContainerLogoPanel img{
    height: 30px;
}
.ContainerButtons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 13px;
    justify-content: start;
    width: calc(100% - 10px);
    gap: 10px;
}
.boxButtons{
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    gap: 10px;
    border-radius: 80px;
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
}
.boxButtonsLine{
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.selectedMenuLeft{
    height: 50px;
    color: var(--var-SelectedMenu);
    position: relative;
    border-radius: 30px;
}
.ContainerIconMenuLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25px;
}
.ContainerIconMenuLeft img{
    height: 100%;
}
.lineMenuLeft{
    width: 90%;
    height: 1px;
    display: block;
    background-color: var(--var-ColorGreen);
}
#LogOut{
    color: var(--var-ColorGreen);
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}

/*formulário principal----------------------------------------------------------------------------------------------------------------*/
.poupUpForm{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
}
.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
    height: 95%;
    background-color: white;
    width: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.185);
    border-radius: 20px;
}
.containerForm header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.buttonClosePoupUp{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.buttonClosePoupUp img{
    height: 30px;
}

.formMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: calc(100% - 100px);
    height: 100%;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.calendarForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonAgendeWithClientesCad{
    background-color: #1F5055;
    color: white;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 5px;
}
.buttonAgendeWithClientesGen{
    display: none;
    background-color: #1F5055;
    color: white;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 5px;
}
#clienteAutoSection{
    display: none;
}
.partForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 8px;
}
.partForm h2{
    margin-left: 10px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #808080;
}
.partForm input, .partForm textarea{
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: rgb(102, 102, 102);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.11);
    width: calc(100% - 20px);
    padding: 10px;
    outline: none;
}
.partForm textarea{
    height: 100px;
    resize: none;
}
.partFormButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.buttonSaveSubmit{
    width: 45%;
    height: 40px;
    background-color: #808080;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.74);
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.096);
    cursor: pointer;
    border-radius: 5px;
}
.buttonSaveAgendamentoByWhatsapp{
    width: 45%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--var-ColorGreenWhatsapp);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.74);
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.096);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px
}
.buttonSaveAgendamentoByWhatsapp img{
    height: 25px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.74));
}
.HoursBox{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}


/*página de agendamentos-------------------------------------------------------------------------------------------*/
.headerAgendamentos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
}
.selectPeriodBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.selectPeriodBox button{
    border: none;
    height: 100%;
    width: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: white;
    cursor: pointer;
}
#buttonAll{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#buttonWeek{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.selectPeriodBox_selected{
    background-color: #053034;
}
.selectPeriodBox_no_selected{
    background-color: #1F5055;
}

.containerBttAddAgendamento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.containerSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 0px 4px 1px rgb(206, 206, 206);
    border-radius: 10px;
}
.buttonInputSearch{
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.buttonInputSearch img{
    height: 100%;
}
.containerSearch input{
    width: 0px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 11pt;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 75, 75);
}

.selectBox{
    width: 100% ;
    height: 200px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.11);
}
.selectBoxHeader{
    height: 30px;
    width: 100%;
    background-color: gray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: white;
}
.containerOptions{
    height: calc(100% - 35px);
    width: calc(100% - 20px);
    margin: auto;
    gap: 5px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}

.LabelCheckBoxAddOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 20px;
    width: calc(100% - 32px);
    border: 1px solid var(--var-DarkGreen);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.LabelCheckBoxAddOptions input[type="checkbox"] {
    display: none;
}
.LabelCheckBoxAddOptions:hover {
    background-color: #f0f0f0;
    color: black;
}

.LabelCheckBoxAddOptions.active {
    background-color: #4CAF50;
    color: white;
}
.LabelCheckBoxAddOptions.active:hover{
    background-color: #266e28;
    color: white;
}


/*Responsividade menu e painel principal--------------------------------------------------------------------------------------------*/
@media (max-height: 750px) {
    .ContainerButtons{
        gap: 0px;
    }
    .boxButtons{
        font-size: 10pt;
        font-weight:600;
    }
    .ContainerIconMenuLeft{
        height: 23px;
    }
    #LogOut{
        font-size: 10pt;
        bottom: 10px;
    }
}
@media (max-height: 600px) {
    .ContainerLogoPanel{
        height: 25px;
        top: 35px;
    }
    .ContainerLogoPanel img{
        height: 25px;
    }
}
@media (max-width: 750px) {
    .containerForm{
        width: 80%;
    }
}
@media (max-width: 700px) {
    .panel{
        background-color: var(--var-BaseBody);
    }
    .ContainerMenuLeft{
        background-color: var(--var-BaseGreen);
        width: calc(100% - 20px);
        height: 80px;
        position: fixed;
        z-index: 100000;
        bottom: 0px;
        left: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        border-radius: 0px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }
    .ContainerLogoPanel{
        display: none;
    }
    .ContainerButtons{
        position: relative;
        flex-direction: row;
        padding-right: 0px;
        justify-content: center;
        gap: 20px;
    }
    .boxButtons{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        gap: 0px;
        background: transparent;
        border-radius: 10px;
    }
    .boxButtons p{
        display: none;
    }
    .boxButtonsLine{
        display: none;
    }
    .selectedMenuLeft{
        height: 40px;
        width: 40px;
        background-color: transparent;
        border-bottom: 2px solid white;
        border-radius: 0px;
    }
    .ContainerIconMenuLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
    .ContainerIconMenuLeft img{
        height: 100%;
        width: auto;
    }
    .lineMenuLeft{
        display: none;
    }
    .panel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100vh;
        position: absolute;
        right: 0vh;
        top: 0vh;
        background-color: rgb(255, 255, 255);
        border-radius: 0px;
    }
    #LogOut{
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 570px) {
    .containerForm{
        width: 90%;
    }
    .formMain{
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 560px) {
    .ContainerMenuLeft{
        align-items: center;
        justify-content: start;
        height: 60px;
    }
    .ContainerButtons{
        padding-left: 10px;
        justify-content: start;
        gap: 8px;
    }
    .ContainerIconMenuLeft{
        height: 25px;
    }
    #LogOut{
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}
@media (max-width: 410px) {
    .ContainerButtons{
        width: 85%;
        overflow-x: scroll;
    }
}