*{
    margin: 0px;
    padding: 0px;
}
:root{
    --var-BaseGreen: 32, 159, 132;
    --var-DarkGreen: #00272B;
    --var-ColorGreen: #E0FF4F;
    --var-BorderColorDark: rgb(182, 182, 182);
    --var-ColorBaseGray: #D9D9D9;
    --var-BaseGreen: #209F84;
    --var-ColorGreenOliva: #25291C;
    --var-ColorGreenWhatsapp: #25D366;
    --var-ColorRedCancel: #ED5E68;
    --var-FontStyled: "Karla", sans-serif;
    --var-FontMain: "Open Sans", sans-serif;
}

/*Página 2 profissionais*/
.containerButtonAddProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px 0px;
    width: calc(100% - 30px);
    height: 50px;
}
.buttonAddProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #209F84, #007A60);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 100%;
}
.buttonAddProfissional img{
    height: 18px;
    width: auto;
}


/*box profissionais*/
.ConteinerInfoProfissionais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 135px);
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.viewPanelProfissionais{
    margin: auto;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}
.containerProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: calc(100% - 90px);
    position: relative;
    height: 80px;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
    background-color: white;
}
.profissionalIMG{
    height: 80px;
    width: 80px;
    background-color: rgb(61, 61, 61);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profissionalIMG img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.boxInfoProf{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxInfoProf span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.boxInfoProf span:nth-child(1) h2, .boxInfoProf span:nth-child(2) h2{
    font-size: 13pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.boxInfoProf span:nth-child(1) p, .boxInfoProf span:nth-child(2) p{
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.boxInfoProf span:nth-child(2) div{
    height: 50px;
    overflow-y: scroll;
    padding-right: 10px;
}

@media (max-width: 400px) {
    .containerProfissional{
        width: calc(100% - 70px);
        position: relative;
        height: 60px;
        padding: 20px;
        gap: 10px;
    }
    .profissionalIMG{
        height: 60px;
        width: 60px;
    }
    .boxInfoProf span:nth-child(1) h2, .boxInfoProf span:nth-child(2) h2{
        font-size: 12pt;
    }
    .boxInfoProf span:nth-child(1) p, .boxInfoProf span:nth-child(2) p{
        font-size: 7pt;
    }
    .boxInfoProf span:nth-child(2) div{
        height: 40px;
        overflow-y: scroll;
        padding-right: 10px;
    }
}



/*disponibilidade do profissional*/
.activeButtonProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    padding: 10px 0px 5px 0px;
    gap: 5px;
}
.activeButtonProfissional span{
    font-family: var(--var-FontMain);
}
.ballStatus{
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.popUpDisponibilidadeProfissional{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.151);
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 80%;
    left: 120px;
    width: 250px;
    height: 100px;
    z-index: 10000;
}
.popUpDisponibilidadeProfissional p{
    align-self: center;
    font-family: var(--var-FontMain);
    font-size: 11pt;
}
.btn-toggle-disponibilidade{
    align-self: center;
    background-color: var(--var-BaseGreen);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#closeActiveProfissional{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    width: 25px;
    padding: 0px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#closeActiveProfissional img{
    height: 100%;
    width: 100%;
}

@media (max-width: 420px) {
    .popUpDisponibilidadeProfissional{
        left: 0px;
        width: 240px;
        height: 90px;
    }
    .btn-toggle-disponibilidade{
        font-size: 8pt;
    }
}

/*botões de deletar e editar profissional*/
.controlProf{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 130px;
    width: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-1px);
}
.bttControlProf{
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.bttControlProf img{
    height: 25px;
}

.containerpoupUpDeleteProfissional{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.601);
    backdrop-filter: blur(2px);
}

.poupUpDeleteProfissional{
    width: 400px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 40px;
}
.poupUpDeleteProfissional h2{
    text-align: center;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: block;
}
.poupUpDeleteProfissional p{
    display: block;
    text-align: center;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 20px;
    background-color: #FFCECE;
    border: 1px solid #FF9999;
    border-radius: 20px;
}
.containerClosePoupUpDeleteProfissional{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.closePoupUpDeleteProfissional{
    background-color: #808080;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 11pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.confirmeDeleteProfissional{
    background-color: #808080;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 400px) {
    .controlProf{
        height: 90px;
    }
    .bttControlProf{
        height: 20px;
        width: 20px;
    }
    .bttControlProf img{
        height: 20px;
    }
}

/*adição de foto dos profissionais*/
#photoProfesseionalSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-file-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--var-BaseGreen);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    font-family: var(--var-FontMain);
    font-size: 10pt;
    font-weight: 400;
}
.custom-file-button img{
    height: 25px;
    width: auto;
}
.textPhoto{
    font-family: var(--var-FontMain);
    font-size: 11pt;
    font-weight: 400;
    color: #808080;
}

#photo {
    display: none;
}
#preview {
    margin-top: 15px;
    max-width: 300px;
    max-height: 300px;
    border: 2px dashed #ccc;
    padding: 10px;
    object-fit: cover;
    border-radius: 5px;
    align-self: center;
}
.saveButton-profissional{
    background-color: rgba(var(--var-BaseGreen), 0.9);
}

.preview-image{
    margin-top: 0px;
    max-width: 300px;
    max-height: 300px;
    border: 2px dashed #ccc;
    padding: 10px;
    object-fit: cover;
    border-radius: 5px;
    align-self: center;
}

@media (max-width: 350px) {
    #preview {
        max-width: 180px;
        max-height: 180px;
    }
    .preview-image{
        max-width: 180px;
        max-height: 180px;
    }
}